{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="INIAD" />
    <link rel="stylesheet" href="{% static 'todo/style.css' %}" />
  </head>

  <body>
    <h1>{{ task.title }}</h1>
    <ul class="detail-meta">
      <li>Posted at: {{ task.posted_at }}</li>
      {% if task.due_at %}
      <li>Due at: {{ task.due_at }}</li>
      {% endif %}
      {% if task.completed %}
      <li class="task-status completed">Status: Completed</li>
      {% else %}
      <li class="task-status pending">Status: Not Completed</li>
      {% endif %}
    </ul>

    {% if not task.completed %}
    <form action="{% url 'close' task.id %}" method="post" class="inline-form">
      {% csrf_token %}
      <button type="submit">終了</button>
    </form>
    {% endif %}

    <div class="detail-links">
      <a href="{% url 'index' %}">Top</a>
      <a href="{% url 'delete' task.id %}">Delete</a>
      <a href="{% url 'update' task.id %}">Edit</a>
    </div>
  </body>
</html>
